node_modules
dist
target
apps/cli/src/comment_generation/comments-markov-model.json
apps/cli/src/comment_generation/training_data/*.json
crates/r3ply-wasm/pkg/**
**/Cargo.lock
**/pnpm-lock.yaml
**/worker-configuration.d.ts
**/schemas/**/*.json
site/content/comments/**