{% extends "base.html" %}
{% import "macros/comments.html" as comments %}
{% import "macros/util.html" as util %}

{% block title %}
  {% set title = "/" ~ term.name ~ " replies" %}
  <title>{{ title }}</title>
  <meta property="og:title" content="{{ title }}" />
  <meta name="twitter:title" content="{{ title }}" />
{% endblock title %}

{% block content %}
{{ util::other_breadcrumbs(links=["[r3ply.com](/)", "[replies](/replies/)", "[" ~ term.name ~ "](/replies/" ~ term.name ~ ")"]) }}
<div class="not-prose bg-gray-600/75 p-8 rounded-2xl">
{{ comments::render(comment=term.pages[0], template=false) }}
</div>
{% endblock content %}

{% block allow_comments %}
  {% set allow_comments = true %}
{% endblock allow_comments %}

{# An variable named `comments` that is an array of pages has to be set here for the template to work #}
{% block choose_comments %}
  {% set comments = term.pages | slice(start=1) | sort(attribute="date") | reverse %}
{% endblock choose_comments %}
{% block pending_comments %}{% endblock pending_comments %}

{% block render_comments %}
  {% for page in comments %}
    {{ comments::write_thread(head=page, comments=comments, level=1, root=page, template=false) }}
  {% endfor %}
{% endblock render_comments %}