@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

/* Tailwind doesn't have built-in "flash" animation */
@keyframes flash {
  0% { background-color: #ffffcc; }
  100% { background-color: #2b303b; } /* original background */
}

.flash {
  animation: flash 0.5s ease;
}

code:not(pre code) {
  color: var(--color-blue-700);
  background-color: var(--color-green-200);
}

pre code {
  white-space: pre-wrap;   /* Wrap long lines */
  word-break: break-word;  /* Break words if needed */
}

.prose {
  sup {
    margin-left: 0.5ch;
  }
}

/* BEGIN suggested Zola styling for highlighting code */
/* See https://www.getzola.org/documentation/content/syntax-highlighting/#styling-codeblocks */
pre {
  padding: 1rem;
  overflow: auto;
}
/* The line numbers already provide some kind of left/right padding */
pre[data-linenos] {
  padding: 1rem 0;
}
pre table td {
  padding: 0;
}
/* The line number cells */
pre table td:nth-of-type(1) {
  text-align: center;
  vertical-align: top;
  user-select: none;
}
pre mark {
  /* If you want your highlights to take the full width */
  display: block;
  /* The default background colour of a mark is bright yellow */
  background-color: rgba(254, 252, 232, 0.9);
}
pre table {
  width: 100%;
  border-collapse: collapse;
}
/* END suggested Zola styling for highlighting code */