@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

/* Tailwind doesn't have built-in "flash" animation */
@keyframes flash {
  0% { background-color: #ffffcc; }
  100% { background-color: #2b303b; } /* original background */
}

.flash {
  animation: flash 0.5s ease;
}

code:not(pre code) {
  color: var(--color-blue-700);
  background-color: var(--color-green-200);
}

pre code {
  white-space: pre-wrap;   /* Wrap long lines */
  word-break: break-word;  /* Break words if needed */
}

.prose {
  sup {
    margin-left: 0.5ch;
  }
}