{% extends "base.html" %}

{% import "macros/util.html" as util %}

{% block title %}
  {# {% set title = "/" ~ taxon.name ~ " replies" %}
  <title>{{ title }}</title>
  <meta property="og:title" content="{{ title }}" />
  <meta name="twitter:title" content="{{ title }}" /> #}
{% endblock title %}

{% block article_width %}max-w-4xl{% endblock article_width %}
{% block article_margins_and_padding %}px-4 mx-auto{% endblock article_margins_and_padding %}

{% block content %}
{{ util::other_breadcrumbs(links=["[r3ply.com](/)", "[commenters](/commenters/)"]) }}
<div class="my-8 md:my-12">
  <h1 class="comments-by-author text-3xl">Comments by Author <a class="no-underline text-pink-300 hover:text-pink-400 hover:underline" href="#comments-by-author">#</a></h1>
  {{ "Below are all comments organized by author. Author ID is a pseudonym that is cryptographically derived from their email address (see [docs](/docs/overview/#privacy))." | markdown | safe }}

  {{ "You can also browse comments by [thread](/threads/) (or [replies](/replies/)), [page](/subjects/), or just [all comments](/comments/)." | markdown | safe }}
</div>
{% endblock content %}

{% block comments %}
<div class="md:mt-12 w-full max-w-4xl mx-auto px-4 pb-12 prose prose-light overflow-auto prose-table:table prose-table:overflow-x-auto
prose-neutral prose-li:marker:text-black prose-pink dark:prose-li:marker:text-neutral-300 prose-hr:border-black dark:prose-hr:border-gray-400 dark:prose-invert dark:prose-code:bg-transparent! dark:prose-code:text-violet-300!">
  <table class="prose-td:whitespace-nowrap prose-tr:whitespace-nowrap">
    <thead>
      <tr>
        <th>Author ID</th>
        {# TODO #}
        {# <th>Alias</th> #}
        <th>Date</th>
        <th>Most Recent Comment</th>
        <th class="text-center"># of Comments</th>
        <th class="text-center">All Verified</th>
        <th>
          RSS
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="inline align-text-bottom text-red-300"
            viewBox="0 0 16 16"
          >
            <path
              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm1.5 2.5c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1 0-2m0 4a6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1 0-2m.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"
            />
          </svg>
        </th>
      </tr>
    </thead>
    {# TODO #}
    {# {% set aliases_page = get_page(path="comments/aliases.md", lang=lang, only_metadata=true) %} #}
    {% for t in terms | sort(attribute="pages.0.date") | reverse %}
      {% if t.pages[0].extra.comment.ignore %}{% continue %}{% endif %}{# ignore the templating/debug comment #}
      {%- set comments_for_author = get_taxonomy_term(kind="commenters", term=t.name) -%}
      {% set comments_for_author = comments_for_author.pages | sort(attribute="date") | reverse %}
      {% set most_recent_comment = comments_for_author | first %}
      <tr>
        {% set commenter = t.name | truncate(length=8) %}
        {% set href = t.permalink %}
        {% set num_comments = t.page_count %}

        {# TODO: see spenc.es for example on how it should be done #}
        {# {% set alias = aliases[t.name][0].alias | default(value="") %} #}
        {# <td>
          {% if alias %}
            ✨<a class="text-teal-200" href="{{ aliases_page.permalink }}#:~:text={{ alias }}">{{ alias }}</a>
          {% endif %}
        </td> #}

        {# Author ID #}
        <td>@<a class="font-mono dark:text-emerald-300 text-emerald-500" href="{{ t.permalink }}">{{ commenter }}</a></td>
        {# Date #}
        <td class="font-mono"><span class="dark:text-blue-300 text-blue-500">{{ most_recent_comment.date | date(format="%Y-%m-%d %H:%M %Z") }}</span></td>
        {# Most Recent Comment #}
        <td class="truncate">
          {% set comment_url = get_url(path=most_recent_comment.extra.comment.document) %}
          <em>
            “<a class="dark:text-red-300 text-red-500" href="{{ comment_url }}#{{ most_recent_comment.slug }}">{{ most_recent_comment.content | striptags | trim | truncate(length=32) }}</a>”
          </em>
        </td>
        <td class="text-center">{{ num_comments }}</td>
        <td class="text-center">
          {% set dkim_fail = comments_for_author | filter(attribute="extra.email.dkim", value=false) | length > 0 %}
          {% set dmarc_fail = comments_for_author | filter(attribute="extra.email.dmarc", value=false) | length > 0 %}
          {% set spf_fail = comments_for_author | filter(attribute="extra.email.spf", value=false) | length > 0 %}
          {% if dkim_fail and dmarc_fail and spf_fail %}
            <span class="dark:text-red-300 text-red-500">? </span>
          {% else %}
            <span class="dark:text-green-300 text-green-500">✓ </span>
          {% endif %}
        </td>
        <td>
          {% set rss_url = t.permalink ~ "atom.xml" %}
          <a class="dark:text-pink-300 text-pink-500" href="{{ rss_url }}">Subscribe</a>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock comments %}