{% import "macros/util.html" as util %}

{#
  For some frontend code (static/pending-comments.js), there's a `template` variable that floats around this file. It's a flag that tells the template to write surround some code in a <template></template> tag.

  Probably the better way to do this would be to have the template broken into smaller parts that could each be surrounded with one of these tags and to make this template use those as well.
#}
{% macro write_all(for_comments, doc, template) %}
  {% set root_comments = for_comments
    | filter(attribute="extra.comment.root", value=true)
    | sort(attribute="date")
    | reverse %}
  {% for r in root_comments %}
    {{ self::write_thread(head=r, comments=for_comments, level=1, root=r, template=template) }}
  {% endfor %}
{% endmacro  %}

{% macro write_thread(head, comments, level, root, template) %}
  {% set groups = ["group/0", "group/1", "group/2", "group/3", "group/4", "group/5", "group/6", "group/7", "group/8", "group/9", "group/10", "group/11", "group/12", "group/13", "group/14", "group/15", "group/16", "group/16", "group/17", "group/18", "group/19"] %}
  {% if template %}<template id="comment-template">{% endif %}
  <details id="{{ head.slug }}" class="{{ groups[level] }} ml-3.5 open:mb-0" open>
    {# Determine prev/next #}
    {% set prev = false %}
    {% set next = false %}
    {% if head.extra.comment.root %}
      {# Root comments can still have in_reply_to set, if they're text fragments #}
      {% set siblings = comments
        | filter(attribute="extra.comment.root", value=true)
        | sort(attribute="date")
        | reverse %}
    {% else %}
      {% set siblings = comments
        | filter(attribute="extra.comment.in_reply_to", value=head.extra.comment.in_reply_to)
        | sort(attribute="date")
        | reverse %}
    {% endif %}
    {% for s in siblings %}
      {% if s.slug == head.slug %}
        {% set prev_i = loop.index0 - 1 %}
        {% set next_i = loop.index0 + 1 %}
        {% set_global prev = siblings[prev_i] | default(value=false) %}
        {% set_global next = siblings[next_i] | default(value=false) %}
      {% endif %}
    {% endfor %}
    {{ self::summary(comment=head, level=level, root=root, prev=prev, next=next, template=template) }}
    <div data-comment-article-container class="ml-[1.5ch] border-l border-emerald-400 border-dashed ">
      {{ self::render(comment=head, template=template) }}
      {% set children = comments
        | filter(attribute="extra.comment.in_reply_to", value="#" ~ head.slug)
        | sort(attribute="date")
        | reverse %}
      {% for c in children %}
        {{ self::write_thread(head=c, comments=comments, level=level+1, root=root, template=template) }}
      {% endfor %}
    </div>
  </details>
  {% if template %}</template>{% endif %}
{% endmacro  %}

{% macro summary(comment, level, root, prev, next, template) %}
{# prettier-ignore #}
{% set content_before = ["group-open/0:before:content-['[-]']","group-open/1:before:content-['[-]']","group-open/2:before:content-['[-]']","group-open/3:before:content-['[-]']","group-open/4:before:content-['[-]']","group-open/5:before:content-['[-]']","group-open/6:before:content-['[-]']","group-open/7:before:content-['[-]']","group-open/8:before:content-['[-]']","group-open/9:before:content-['[-]']", "group-open/10:before:content-['[-]']","group-open/11:before:content-['[-]']","group-open/12:before:content-['[-]']","group-open/13:before:content-['[-]']","group-open/14:before:content-['[-]']","group-open/15:before:content-['[-]']","group-open/16:before:content-['[-]']","group-open/17:before:content-['[-]']","group-open/18:before:content-['[-]']","group-open/19:before:content-['[-]']"] %}
<summary class="cursor-pointer before:content-['[+]'] {{ content_before[level] }} font-mono overflow-ellipsis flex justify-between items-center gap-1">
  {# prettier-ignore #}
  {% set comment_hidden = ["group-open/0:hidden","group-open/1:hidden","group-open/2:hidden","group-open/3:hidden","group-open/4:hidden","group-open/5:hidden","group-open/6:hidden","group-open/7:hidden","group-open/8:hidden","group-open/9:hidden", "group-open/10:hidden","group-open/11:hidden","group-open/12:hidden","group-open/13:hidden","group-open/14:hidden","group-open/15:hidden","group-open/16:hidden","group-open/17:hidden","group-open/18:hidden","group-open/19:hidden"] %}
  <span data-comment-text-preview class="{{ comment_hidden[level] }} flex-1 truncate">
    {{ comment.content | striptags | truncate(length=128) }}
  </span>
  <span class="float-right inline-flex divide-x! justify-around items-center
     divide-gray-800
    text-gray-800 font-mono font-black md:font-sans md:font-light text-xl md:text-lg md:tracking-wider my-0.5
    ">
    {% set comment_nav_styles = "w-8 h-8 md:w-auto md:h-auto bg-teal-200 hover:bg-teal-300 dark:bg-cyan-200 dark:hover:bg-cyan-300 overflow-hidden border border-gray-800 text-center" %}
    {% set nav_link_styles = "inline-block w-full h-full md:py-1 px-2" %}
    {% set inactive_nav = "bg-gray-400! text-gray-500 cursor-not-allowed md:py-1 px-2" %}
    {# render root? #}
    {% set render_root = level >= 3 %}
    {% if render_root or template %}
      {% if template %}<template id="comment-nav-render-root-true">{% endif %}
    <span class="{{ comment_nav_styles }} rounded-l-lg border-l! border-r-0">
      <a href="#{{ root.slug }}" class="{{ nav_link_styles }}">
        <span class="hidden md:inline">root</span>
        <span class="inline md:hidden">/</span>
      </a>
    </span>
      {% if template %}</template>{% endif %}
    {% endif %}
    {% if not render_root or template %}
      {% if template %}<template id="comment-nav-render-root-false">{% endif %}
    <span class="{{ comment_nav_styles }} {{ inactive_nav }} rounded-l-lg border-l! border-r-0">
      <button class="cursor-not-allowed">
        <span class="hidden md:inline">root</span>
        <span class="inline md:hidden">/</span>
      </button>
    </span>
      {% if template %}</template>{% endif %}
    {% endif %}
    {# render parent? #}
    {% set render_parent = level >= 2%}
    {% if render_parent or template %}
      {% if template %}<template id="comment-nav-render-parent-true">{% endif %}
    <span class="{{ comment_nav_styles }} border-x-0">
      <a href="{{ comment.extra.comment.in_reply_to }}" class="{{ nav_link_styles }}">
        <span class="hidden md:inline">parent</span>
        <span class="inline md:hidden font-sans">..</span>
      </a>
    </span>
      {% if template %}</template>{% endif %}
    {% endif %}
    {% if not render_parent or template %}
      {% if template %}<template id="comment-nav-render-parent-false">{% endif %}
    <span class="{{ comment_nav_styles }} {{ inactive_nav }} border-x-0">
      <button class="cursor-not-allowed">
        <span class="hidden md:inline">parent</span>
        <span class="inline md:hidden font-sans">..</span>
      </button>
    </span>
      {% if template %}</template>{% endif %}
    {% endif %}
    {# render current #}
      {% if template %}<template id="comment-nav-render-current">{% endif %}
    <span class="{{ comment_nav_styles }} border-x-0">
      <a href="#{{ comment.slug }}" class="{{ nav_link_styles }}">
        <span class="hidden md:inline text-pink-400">#</span>
        <span class="inline md:hidden text-pink-300">.</span>
      </a>
    </span>
      {% if template %}</template>{% endif %}
    {# render next? #}
    {% if next or template %}
      {% if template %}<template id="comment-nav-render-next-true">{% endif %}
      {% set next_slug = next.slug | default(value="CHANGEME") %}
    <span class="{{ comment_nav_styles }} border-x-0">
      <a href="#{{ next_slug }}" class="{{ nav_link_styles }}">
        <span class="hidden md:inline">next</span>
        <span class="inline md:hidden">⭣</span>
      </a>
    </span>
      {% if template %}</template>{% endif %}
    {% endif %}
    {% if not next or template %}
      {% if template %}<template id="comment-nav-render-next-false">{% endif %}
    <span class="{{ comment_nav_styles }} {{ inactive_nav }} border-x-0">
      <button class="cursor-not-allowed">
        <span class="hidden md:inline">next</span>
        <span class="inline md:hidden">⭣</span>
      </button>
    </span>
      {% if template %}</template>{% endif %}
    {% endif %}
    {# render prev? #}
    {% if prev or template %}
      {% if template %}<template id="comment-nav-render-prev-true">{% endif %}
      {% set prev_slug = prev.slug | default(value="CHANGEME") %}
    <span class="{{ comment_nav_styles }} rounded-r-lg border-l-0">
      <a href="#{{ prev_slug }}" class="{{ nav_link_styles }}">
        <span class="hidden md:inline">prev.</span>
        <span class="inline md:hidden">⭡</span>
      </a>
    </span>
      {% if template %}</template>{% endif %}
    {% endif %}
    {% if not prev or template %}
      {% if template %}<template id="comment-nav-render-prev-false">{% endif %}
    <span class="{{ comment_nav_styles }} {{ inactive_nav }} rounded-r-lg border-l-0">
      <button class="cursor-not-allowed">
        <span class="hidden md:inline">prev.</span>
        <span class="inline md:hidden">⭡</span>
      </button>
    </span>
      {% if template %}</template>{% endif %}
    {% endif %}
  </span>
</summary>
{% endmacro %}

{% macro render(comment, template) %}
{% set ctx = load_data(literal=comment.extra.comment.ctx, format="json") %}
  {% if template %}<template id="comment-article-template">{% endif %}
<article id="comment:{{ comment.slug }}" class="pl-6 pb-4 min-w-[calc(100vw-0.875rem-1.5ch-1.5rem)]{# calc a min width of what 'auto' would be, but allowing the the content to grow and overflow #} md:min-w-auto">
  <header class="font-mono font-lg mt-2">
    {% set purple_text = "text-purple-500 dark:text-purple-300" %}
    {% set cyan_text = "text-cyan-500 dark:text-cyan-300" %}
    {% set gray_text = "text-gray-800 dark:text-gray-100" %}
    {% set amber_text = "text-amber-600 dark:text-amber-400" %}
    {% set blue_text = "text-blue-400 dark:text-blue-300" %}
    {% set yellow_text = "text-yellow-400 dark:text-yellow-300" %}
    {% set green_text = "text-green-400 dark:text-green-300" %}
    <dl>
      {# Comment-ID: #}
      <div class="flex">
        <dt class="inline {{ purple_text }}">Comment-ID</dt>
        <span class="{{ cyan_text }}">: &lt;</span>
        <dd data-comment-id-field class="inline {{ amber_text }} truncate">
          <a class="hover:underline" href="{{ comment.path }}">
            <span class="dark:text-gray-300 text-gray-700">#</span>{{ ctx.comment.id | truncate(length=8) }}
          </a>
        </dd>
        <span class="{{ cyan_text }} before:content-['>']"></span>
        <button title="Copy to clipboard" class="ml-1 cursor-pointer" onclick="navigator.clipboard.writeText('{{ ctx.comment.id | truncate(length=8, end=``) }}')">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ml-1 h-3.5" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
          </svg>
        </button>
      </div>
      {# From: #}
      <div class="flex">
        <dt class="inline text-gray-800 dark:text-gray-100">From</dt>
        <span class="{{ cyan_text }}">: &lt;</span>
        <dd class="inline {{ amber_text }} hover:underline">
          <a data-from-field href="/commenters/{{ comment.authors[0] | truncate(length=7, end='') }}/">
            <span class="dark:text-gray-300 text-gray-700">@</span>{{ comment.authors[0] | truncate(length=7) }}
          </a>
        </dd>
        <span class="{{ cyan_text }} before:content-['>']"></span>
      </div>
      {# Subject: #}
      <div data-subject-field class="flex overflow-clip">
        <dt class="inline text-gray-800 dark:text-gray-100">Subject</dt>
        <span class="{{ cyan_text }}">: </span>
        <dd class="hidden md:inline {{ amber_text }} ml-[1ch] truncate hover:underline">
          <a data-subject-md href="{{ ctx.comment.subject.path }}{{ ctx.comment.subject.fragment | default(value='') }}">
          {{ ctx.comment.subject.path }}{{ ctx.comment.subject.fragment | default(value="") }}
          </a>
        </dd>
        <dd class="inline md:hidden {{ amber_text }} ml-[1ch] truncate">
          <a data-subject-sm href="{{ ctx.comment.subject.path }}{{ ctx.comment.subject.fragment | default(value='') }}">
          {% if ctx.comment.subject.fragment %}
          {{ ctx.comment.subject.fragment }}
          {% else %}
          ./
          {% endif %}
          </a>
        </dd>
      </div>
      {# Date: #}
      <div data-date-field class="flex">
        <dt class="inline text-gray-800 dark:text-gray-100">Date</dt>
        <span class="{{ cyan_text }}">: </span>
        <dd data-date-md class="hidden md:inline-flex {{ amber_text }} ml-[1ch]">
          <span data-date-md-day>{{ comment.date | date(format="%a") }}</span>
          <span class="{{ cyan_text }}">,</span>
          <span data-date-d-b-Y-H class="ml-[1ch]">{{ comment.date | date(format="%d %b %Y %H") }}</span>
          <span class="{{ cyan_text }}">:</span>
          <span data-date-min>{{ comment.date | date(format="%M") }}</span>
          <span class="{{ cyan_text }}">:</span>
          <span data-date-sec>{{ comment.date | date(format="%S") }}</span>
          <span data-date-tz class="{{ cyan_text }} ml-[1ch]">{{ comment.date | date(format="%z") }}</span>
        </dd>
        <dd data-date-sm class="inline-flex md:hidden {{ amber_text }} ml-[1ch]">
          <span class="text-blue-400">{{ comment.date | date() }}</span>
          <span class="text-pink-400 ml-[1ch]">{{ comment.date | date(format="%H:%M") }}</span>
          <span class="text-yellow-300 ml-[1ch]">{{ comment.date | date(format="%z") }}</span>
        </dd>
      </div>
      {# Auth: #}
      <div class="flex">
        <dt class="inline {{ purple_text }}">Auth</dt>
        <dd class="flex {{ amber_text }} truncate">
          <span class="text-inherit {{ cyan_text }} after:content-['_['] after:dark:text-emerald-300">:</span>
          {# dkim #}
          <span class="{{ blue_text }}">dkim</span>
          <span class="mr-2 {{ cyan_text }}">:</span>
          {% if ctx.email.auth.dkim or template %}
            {% if template %}<template id="dkim-pass-template">{% endif %}
            <span class="text-green-500 font-bold"> ✔</span>
            {% if template %}</template>{% endif %}
          {% endif %}
          {% if not ctx.email.auth.dkim or template %}
            {% if template %}<template id="dkim-fail-template">{% endif %}
            <span class="text-red-500 font-bold"> x</span>
            {% if template %}</template>{% endif %}
          {% endif %}
          {# spf #}
          <span class="{{ cyan_text }}">,</span>
          <span class="ml-2 {{ blue_text }}">spf</span>
          <span class="mr-2 {{ cyan_text }}">:</span>
          {% if ctx.email.auth.spf or template %}
            {% if template %}<template id="spf-pass-template">{% endif %}
            <span class="text-green-500 font-bold"> ✔</span>
            {% if template %}</template>{% endif %}
          {% endif %}
          {% if not ctx.email.auth.spf or template %}
            {% if template %}<template id="spf-fail-template">{% endif %}
            <span class="text-red-500 font-bold"> x</span>
            {% if template %}</template>{% endif %}
          {% endif %}
          {# dmarc #}
          <span class="{{ cyan_text }}">,</span>
          <span class="ml-2 {{ blue_text }}">dmarc</span>
          <span class="mr-2 {{ cyan_text }}">:</span>
          {% if ctx.email.auth.dmarc or template %}
            {% if template %}<template id="dmarc-pass-template">{% endif %}
            <span class="text-green-500 font-bold"> ✔</span>
            {% if template %}</template>{% endif %}
           {% endif %}
          {% if not ctx.email.auth.dmarc or template %}
            {% if template %}<template id="dmarc-fail-template">{% endif %}
            <span class="text-red-500 font-bold"> x</span>
            {% if template %}</template>{% endif %}
          {% endif %}
          <span class="text-inherit before:content-[']'] before:dark:text-emerald-300"></span>
        </dd>
      </div>
      {# Meta: #}
      <div class="flex">
        <dt class="inline {{ cyan_text }}">Meta</dt>
        <dd class="flex {{ amber_text }} text-nowrap">
          <span class="text-inherit {{ cyan_text }} after:content-['_['] {{ cyan_text }} after:text-yellow-400 dark:after:text-yellow-300">:</span>
          {# Context #}
          <a title="See comment in context"
            class="{{ green_text }} hover:underline" href="{{ ctx.comment.subject.path }}#{{ ctx.comment.id | truncate(length=8, end='') }}">context</a>
          {# Thread #}
          <span class="{{ yellow_text }}">,</span>
          <a title="View whole thread"
            class="ml-2 {{ green_text }} hover:underline" href="/threads/{{ ctx.comment.id | truncate(length=8, end='') }}/">thread</a>
          {# Replies #}
          <span class="{{ yellow_text }}">,</span>
          <a title="View direct replies"
            class="ml-2 {{ green_text }} hover:underline" href="/replies/{{ ctx.comment.id | truncate(length=8, end='') }}/">replies</a>
          <span class="ml-1 {{ yellow_text }}">…</span>
          <a title="Subscribe to replies"
            class="ml-1"
            href="/replies/{{ ctx.comment.id | truncate(length=8, end='') }}/atom.xml">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="inline align-text-bottom text-red-300 h-3.5 mb-0.5 hover:text-red-400"
              viewBox="0 0 16 16"
            >
              <path
                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm1.5 2.5c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1 0-2m0 4a6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1 0-2m.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"
              />
            </svg>
          </a>
          <span class="ml-0 {{ yellow_text }} before:content-[']'] "></span>
        </dd>
      </div>
    </dl>
  </header>
  <div class="prose prose-neutral dark:prose-invert mt-[2ch]">
    {% if ctx.comment.subject.fragment and ctx.comment.subject.fragment is starting_with("#:~:text=") %}
      {% if template %}<template id="comment-text-fragment-template">{% endif %}
      {# All of the following is an attempt to prevent the browser from highlighting the quoted text fragment - TODO: it doesn't work in safari #}
      {% set text_fragment = util::urldecode(encoded=ctx.comment.subject.fragment
      | regex_replace(pattern="#:~:text=", rep="> ")) %}
      <a data-text-fragment-src href="{{ ctx.comment.subject.fragment }}" class="float-right font-serif  italic dark:text-violet-300">(source)</a>
      <span data-text-fragment-content>
      {% set left = text_fragment
        | split(pat="")
        | slice(end=-3)
        | join(sep="") %}
      {% set right = text_fragment
        | split(pat="")
        | slice(start=-3)
        | join(sep="") %}
      {% set text_fragment = left ~ 'THIS_IS_TO_AVOID_HAVING_QUOTED_TEXT_FRAGMENTS_INTERFERE_WITH_THE_ACTUAL_TEXT_FRAGMENT' ~ right %}
      {{ text_fragment
        | striptags
        | regex_replace(pattern="THIS_IS_TO_AVOID_HAVING_QUOTED_TEXT_FRAGMENTS_INTERFERE_WITH_THE_ACTUAL_TEXT_FRAGMENT", rep="<span aria-hidden='true' class='inline-block w-0 h-0 invisible select-none' style='contain: strict;'>ABC</span>")
        | markdown
        | safe }}
      </span>
        {% if template %}</template>{% endif %}
    {% endif %}
      {% if template %}<template id="comment-content-template">{% endif %}
    {{ comment.content | safe }}
      {% if template %}</template>{% endif %}
  </div>
  <a  data-reply-mailto
      href="{{ util::mailto(to=config.extra.comments_email, subject=comment.extra.comment.document ~ '#' ~comment.slug, body=config.extra.mail_body_instructions) }}"
      class="block max-w-fit ml-auto md:ml-0 mt-4 px-2 py-1 text-lg rounded-lg
      bg-yellow-300 hover:bg-yellow-400 border border-gray-500
       font-light text-gray-800">r3ply!</a>
  <hr class="border-blue-400 mt-[2ch] pb-[0ch] border-dashed">
</article>
  {% if template %}</template>{% endif %}
{% endmacro %}

{#
  `stop_at` is an optional parameter, where you can specify the slug of a ancestor to stop at
  This returns a string of slugs (comment ID's) separated by commas. It can be parsed into a list.
  Note: how everything is printed matters so be careful with whitespace
#}
{%- macro get_ancestors(node, stop_at=false) -%}
  {{ node.slug }}{# always print the current node #}
  {%- set ancestor = node.extra.comment.in_reply_to -%}
  {%- if ancestor == false or stop_at | as_str in ancestor -%}{# base case: ancestor of node is false or end—do nothing #}
  {%- else -%}{# recursive case: print comma and call get_root, continuing upwards #}
    {%- set ancestor=get_taxonomy_term(kind="threads", term=node.taxonomies.replies[1]) | get(key="pages") | nth(n=0) -%},{{ self::get_ancestors(node=ancestor, stop_at=stop_at) }}
  {%- endif -%}
{%- endmacro -%}

