{% import "macros/util.html" as util %}
{% macro write_all(for_comments, doc) %}
  {% set root_comments = for_comments
    | filter(attribute="extra.comment.root", value=true)
    | sort(attribute="date")
    | reverse %}
  {% for r in root_comments %}
    {{ self::write_thread(head=r, comments=for_comments, level=1, root=r) }}
    {# {{ self::write_thread(head=r, comments=for_comments
      | filter(attribute="extra.comment.root", value=false), level=1, root=r) }} #}
  {% endfor %}
{% endmacro  %}

{% macro write_thread(head, comments, level, root) %}
  {% set groups = ["group/0", "group/1", "group/2", "group/3", "group/4", "group/5", "group/6%", "group/7", "group/8", "group/9"] %}
  <details id="{{ head.slug }}" class="{{ groups[level] }} ml-3.5 open:mb-2
  " open>
    {# Determine prev/next #}
    {% set prev = false %}
    {% set next = false %}
    {% if head.extra.comment.root %}
      {# Root comments can still have in_reply_to set, if they're text fragments #}
      {% set siblings = comments
        | filter(attribute="extra.comment.root", value=head.extra.comment.root)
        | sort(attribute="date")
        | reverse %}
    {% else %}
      {% set siblings = comments
        | filter(attribute="extra.comment.in_reply_to", value=head.extra.comment.in_reply_to)
        | sort(attribute="date")
        | reverse %}
    {% endif %}
    {# {{ throw(message=siblings|map(attribute="slug")|as_str) }} #}
    {% for s in siblings %}
      {% if s.slug == head.slug %}
        {% set prev_i = loop.index0 - 1 %}
        {% set next_i = loop.index0 + 1 %}
        {% set_global prev = siblings[prev_i] | default(value=false) %}
        {% set_global next = siblings[next_i] | default(value=false) %}
      {% endif %}
    {% endfor %}
    {{ self::summary(comment=head, level=level, root=root, prev=prev, next=next) }}
    <div class="ml-[1.5ch] border-l border-emerald-400 border-dashed pb-[1ch]">
      {{ self::render(comment=head) }}
      {% set children = comments
        | filter(attribute="extra.comment.in_reply_to", value="#" ~ head.slug)
        | sort(attribute="date")
        | reverse %}
      {% for c in children %}
        {{ self::write_thread(head=c, comments=comments, level=level+1, root=root) }}
      {% endfor %}
    </div>
  </details>
{% endmacro  %}

{% macro summary(comment, level, root, prev, next) %}
{# prettier-ignore #}
{% set content_before = ["group-open/0:before:content-['[-]']","group-open/1:before:content-['[-]']","group-open/2:before:content-['[-]']","group-open/3:before:content-['[-]']","group-open/4:before:content-['[-]']","group-open/5:before:content-['[-]']","group-open/6:before:content-['[-]']","group-open/7:before:content-['[-]']","group-open/8:before:content-['[-]']","group-open/9:before:content-['[-]']"] %}
<summary class="cursor-pointer before:content-['[+]'] {{ content_before[level] }} font-mono overflow-ellipsis flex justify-between items-center gap-1">
  {# prettier-ignore #}
  {% set comment_hidden = ["group-open/0:hidden","group-open/1:hidden","group-open/2:hidden","group-open/3:hidden","group-open/4:hidden","group-open/5:hidden","group-open/6:hidden","group-open/7:hidden","group-open/8:hidden","group-open/9:hidden"] %}
  <span class="{{ comment_hidden[level] }} flex-1 truncate">
    {{ comment.content | striptags | truncate(length=128) }}
  </span>
  <ul class="float-right inline-flex divide-x! justify-around items-center
     divide-gray-800
    text-gray-800 font-mono font-black md:font-sans md:font-light text-xl md:text-lg md:tracking-wider my-0.5
    ">
    {% set comment_nav_styles = "w-7 h-7 md:w-auto md:h-auto md:py-1 px-2 bg-teal-200 hover:bg-teal-300 dark:bg-cyan-200 dark:hover:bg-cyan-300 overflow-hidden border border-gray-800 text-center" %}
    {% set inactive_nav = "bg-gray-400! text-gray-500 cursor-not-allowed" %}
    {# render root? #}
    {% if level >= 3 %}
    <li class="{{ comment_nav_styles }} rounded-l-lg border-l! border-r-0">
      <a href="#{{ root.slug }}" class="inline-block w-full h-full">
        <span class="hidden md:inline">root</span>
        <span class="inline md:hidden">/</span>
      </a>
    </li>
    {% else %}
    <li class="{{ comment_nav_styles }} {{ inactive_nav }} rounded-l-lg border-l! border-r-0">
      <button class="cursor-not-allowed">
        <span class="hidden md:inline">root</span>
        <span class="inline md:hidden">/</span>
      </button>
    </li>
    {% endif %}
    {# render parent? #}
    {% if level >= 2 %}
    <li class="{{ comment_nav_styles }} border-x-0">
      <a href="{{ comment.extra.comment.in_reply_to }}" class="inline-block w-full h-full">
        <span class="hidden md:inline">parent</span>
        <span class="inline md:hidden font-sans">..</span>
      </a>
    </li>
    {% else %}
    <li class="{{ comment_nav_styles }} {{ inactive_nav }} border-x-0">
      <button class="cursor-not-allowed">
        <span class="hidden md:inline">parent</span>
        <span class="inline md:hidden font-sans">..</span>
      </button>
    </li>
    {% endif %}
    {# render current #}
    <li class="{{ comment_nav_styles }} border-x-0">
      <a href="#{{ comment.slug }}" class="inline-block w-full h-full">
        <span class="hidden md:inline text-pink-400">#</span>
        <span class="inline md:hidden text-pink-300">.</span>
      </a>
    </li>
    {# render next? #}
    {% if next %}
    <li class="{{ comment_nav_styles }} border-x-0">
      <a href="#{{ next.slug }}" class="inline-block w-full h-full">
        <span class="hidden md:inline">next</span>
        <span class="inline md:hidden">↓</span>
      </a>
    </li>
    {% else %}
    <li class="{{ comment_nav_styles }} {{ inactive_nav }} border-x-0">
      <button class="cursor-not-allowed">
        <span class="hidden md:inline">next</span>
        <span class="inline md:hidden">↓</span>
      </button>
    </li>
    {% endif %}
    {# render prev? #}
    {% if prev %}
    <li class="{{ comment_nav_styles }} rounded-r-lg border-l-0">
      <a href="#{{ prev.slug }}" class="inline-block w-full h-full">
        <span class="hidden md:inline">prev.</span>
        <span class="inline md:hidden">↑</span>
      </a>
    </li>
    {% else %}
    <li class="{{ comment_nav_styles }} {{ inactive_nav }} rounded-r-lg border-l-0">
      <button class="cursor-not-allowed">
        <span class="hidden md:inline">prev.</span>
        <span class="inline md:hidden">↑</span>
      </button>
    </li>
    {% endif %}
  </ul>
</summary>
{% endmacro %}

{% macro render(comment) %}
{% set ctx = load_data(literal=comment.extra.comment.ctx, format="json") %}
<article id="comment:{{ comment.slug }}" class="pl-6 py-3">
  <header class="font-mono font-lg">
    {% set purple_text = "text-purple-500 dark:text-purple-300" %}
    {% set cyan_text = "text-cyan-500 dark:text-cyan-300" %}
    {% set gray_text = "text-gray-800 dark:text-gray-100" %}
    {% set amber_text = "text-amber-600 dark:text-amber-400" %}
    <dl>
      <div class="flex">
        <dt class="inline {{ purple_text }}">Comment-ID</dt>
        <span class="{{ cyan_text }}">: <</span>
        <dd class="inline {{ amber_text }} truncate hover:underline">
          <a href="{{ comment.path }}">
            {{ ctx.comment.id | truncate(length=8) }}
          </a>
        </dd>
        <span class="text-cyan-300 before:content-['>']"></span>
      </div>
      <div class="flex">
        <dt class="inline text-gray-800 dark:text-gray-100">From</dt>
        <span class="{{ cyan_text }}">: <</span>
        <dd class="inline {{ amber_text }} hover:underline">
          <a href="/commenters/{{ comment.authors[0] | truncate(length=7, end='') }}/">
            {{ comment.authors[0] | truncate(length=7) }}
          </a>
        </dd>
        <span class="{{ cyan_text }} before:content-['>']"></span>
      </div>
      <div class="flex overflow-clip">
        <dt class="inline text-gray-800 dark:text-gray-100">Subject</dt>
        <span class="{{ cyan_text }}">: </span>
        <dd class="hidden md:inline {{ amber_text }} ml-[1ch] truncate hover:underline">
          <a href="{{ ctx.comment.subject.path }}{{ ctx.comment.subject.fragment | default(value='') }}">
          {{ ctx.comment.subject.path }}{{ ctx.comment.subject.fragment | default(value="") }}
          </a>
        </dd>
        <dd class="inline md:hidden {{ amber_text }} ml-[1ch] truncate">
          <a href="{{ ctx.comment.subject.path }}{{ ctx.comment.subject.fragment | default(value='') }}">
          {% if ctx.comment.subject.fragment %}
          {{ ctx.comment.subject.fragment }}
          {% else %}
          ./
          {% endif %}
          </a>
        </dd>
      </div>
      <div class="flex">
        {# date(format="%a, %d %b %Y %H:%M:%S %z") #}
        <dt class="inline text-gray-800 dark:text-gray-100">Date</dt>
        <span class="{{ cyan_text }}">: </span>
        <dd class="hidden md:inline-flex {{ amber_text }} ml-[1ch]">
          {{ comment.date | date(format="%a") }}
          <span class="{{ cyan_text }}">,</span>
          <span class="ml-[1ch]">{{ comment.date | date(format="%d %b %Y %H") }}</span>
          <span class="{{ cyan_text }}">:</span>
          {{ comment.date | date(format="%M") }}
          <span class="{{ cyan_text }}">:</span>
          {{ comment.date | date(format="%S") }}
          <span class="{{ cyan_text }} ml-[1ch]">{{ comment.date | date(format="%z") }}</span>
        </dd>
        <dd class="inline-flex md:hidden {{ amber_text }} ml-[1ch]">
          <span class="text-blue-400">{{ comment.date | date() }}</span>
          <span class="text-pink-400 ml-[1ch]">{{ comment.date | date(format="%H:%M") }}</span>
          <span class="text-yellow-300 ml-[1ch]">{{ comment.date | date(format="%z") }}</span>
        </dd>
      </div>
    </dl>
    </span>
  </header>
  <div class="prose prose-neutral dark:prose-invert mt-[2ch]">
    {% if ctx.comment.subject.fragment and ctx.comment.subject.fragment is starting_with("#:~:text=") %}
    {% set text_fragment = util::urldecode(encoded=ctx.comment.subject.fragment
      | regex_replace(pattern="#:~:text=", rep="> ")) %}
      <a href="{{ ctx.comment.subject.fragment }}" class="float-right font-serif  italic dark:text-violet-300">(source)</a>
      <span>
      {% set left = text_fragment
        | split(pat="")
        | slice(end=-3)
        | join(sep="") %}
      {% set right = text_fragment
        | split(pat="")
        | slice(start=-3)
        | join(sep="") %}
      {% set text_fragment = left ~ 'THIS_IS_TO_AVOID_HAVING_QUOTED_TEXT_FRAGMENTS_INTERFERE_WITH_THE_ACTUAL_TEXT_FRAGMENT' ~ right %}
      {{ text_fragment
        | striptags
        | regex_replace(pattern="THIS_IS_TO_AVOID_HAVING_QUOTED_TEXT_FRAGMENTS_INTERFERE_WITH_THE_ACTUAL_TEXT_FRAGMENT", rep="<span aria-hidden='true' class='inline-block w-0 h-0 invisible select-none' style='contain: strict;'>ABC</span>")
        | markdown
        | safe }}
      </span>
    {% endif %}
    {{ comment.content | safe }}
  </div>
  <a
    href="{{ util::mailto(to=config.extra.comments_email, subject=current_path ~ '#' ~comment.slug, body=config.extra.mail_body_instructions) }}"
    class="block max-w-fit ml-auto md:ml-0 mt-4 px-2 py-1 text-lg rounded-lg
      bg-yellow-300 hover:bg-yellow-400 border border-gray-500
       font-light text-gray-800">r3ply!</a>
  <hr class="border-blue-400 mt-[2ch] pb-[0ch] border-dashed">
</article>
{% endmacro %}