{% extends "base.html" %}
{% import "macros/comments.html" as comments %}

{% block title %}
  {% set title = "/" ~ term.name ~ " thread" %}
  <title>{{ title }}</title>
  <meta property="og:title" content="{{ title }}" />
  <meta name="twitter:title" content="{{ title }}" />
{% endblock title %}

{% block content %}
<h1 class="">Thread for Comment <a href="{{ get_url(path='/' ~ term.name) }}">#{{ term.pages[0].slug }}</a></h1>
{% endblock content %}

{% block allow_comments %}
  {% set allow_comments = true %}
{% endblock allow_comments %}

{# An variable named `comments` that is an array of pages has to be set here for the template to work #}
{% block choose_comments %}
  {% set comments = term.pages %}
  {% if term.name | split(pat="") | slice(end=10) | join(sep="") == "comments/" %}
    {% set comment_is_root = true%}
    {% set replies_to = get_taxonomy_term(kind="threads", term="demo", required=false) %}
    {% if replies_to %}
      {% set comments = comments | concat(with=replies_to.pages) %}
    {% endif %}
  {% endif %}
{% endblock choose_comments %}
{% block pending_comments %}{% endblock pending_comments %}

{% block render_comments %}
{% if comment_is_root %}
  {{ comments::write_thread(head=comments[0], comments=comments, level=1, root=comments[0], template=false) }}
{% else %}
  {{ comments::write_all(for_comments=comments, doc=false, template=false) }}
{% endif %}
{% endblock render_comments %}