{% extends "base.html" %}
{% import "macros/comments.html" as comments %}

{% block title %}
  {% set title = "/" ~ term.name ~ " thread" %}
  <title>{{ title }}</title>
  <meta property="og:title" content="{{ title }}" />
  <meta name="twitter:title" content="{{ title }}" />
{% endblock title %}

{% block content %}
<h1 class="text-center">Thread for /{{ term.name }}</h1>
{% endblock content %}

{% block comments %}
<section id="comments" class="py-12 border-t-4 border-blue-300 dark:border-pink-300 border-dashed md:pr-6 pr-2 overflow-x-scroll bg-orange-50 bg-[url(/patterns/bank-note.svg)] dark:bg-inherit">
{% if term.name | split(pat="") | slice(end=10) | join(sep="") == "comments/" %}
  {% set replies_to = get_taxonomy_term(kind="threads", term="demo", required=false) %}
  {% set pages = term.pages %}
  {% if replies_to %}{% set pages = pages | concat(with=replies_to.pages) %}{% endif %}
  {{ comments::write_thread(head=pages[0], comments=pages, level=1, root=pages[0], template=false) }}
{% else %}
  {{ comments::write_all(for_comments=term.pages, doc=false, template=false) }}
{% endif %}
</section>
{% endblock comments %}