{% extends "base.html" %}
{% import "macros/comments.html" as comments %}
{% import "macros/util.html" as util %}


{% block extra_meta %}
{# Redirect /threads/all -> /threads/ #}
{% if term.name == "all" %}<meta http-equiv="refresh" content="0; url=/threads/">{% endif %}
{% endblock extra_meta %}

{% block title %}
  {% set title = "/" ~ term.name ~ " thread" %}
  <title>{{ title }}</title>
  <meta property="og:title" content="{{ title }}" />
  <meta name="twitter:title" content="{{ title }}" />
{% endblock title %}

{% block content %}
{{ util::other_breadcrumbs(links=["[r3ply.com](/)", "[threads](/threads/)", "#[" ~ term.pages[0].slug ~ "](/threads/" ~ term.name ~ "/)"]) }}
<div class="my-8 md:my-12 pb-12">
  <h1 id="threads-title" class="text-3xl">Thread <a href="{{ current_path }}" class="text-pink-300 hover:text-pink-400 no-underline hover:underline"><span class="text-gray-400">#</span>{{ term.name }}</a></h1>
  {{"Below is the comment and thread, which includes all the comment's descendants." | markdown | safe }}
  <div class="my-12 not-prose dark:bg-gray-600/75 bg-blue-300/25 border border-blue-400 p-2 md:p-8 rounded-2xl overflow-x-auto">
    {% if term.name != "all" %}{{ comments::render(comment=term.pages | filter(attribute="slug", value=term.name) | first, template=false) }}{% endif %}
    <span class="text-center">
    {{ "See `context`, `replies`, and `thread` above for more options." | markdown | safe }}
    </span>
  </div>
  {{"To browse comments by _direct_ descendants, see  [replies](/replies/). You can also browse comments [by author](/commenters/), [by page](/subjects/), or [all comments](/comments/)." | markdown | safe }}
</div>
{% endblock content %}

{% block allow_comments %}{% set allow_comments = true %}{% endblock allow_comments %}
{% block comments_count %}

{% endblock comments_count %}
{% block write_comment_control %}

{% endblock write_comment_control %}
{% block info_comment_control %}
{% set subscribe_controls = "text-gray-900 font-light text-md tracking-tighter cursor-pointer md:text-xl rounded-lg px-2 py-1 md:px-3 md:py-2 border border-gray-500" %}
<a href="{{ current_path }}atom.xml" class="{{ subscribe_controls }} bg-red-300 hover:bg-red-400 flex items-center gap-1">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      class="inline text-inherit h-4"
      viewBox="0 0 16 16"
    >
      <path
        d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm1.5 2.5c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1 0-2m0 4a6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1 0-2m.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"
      />
    </svg>
  <span class="hidden md:inline">Thread <span class="text-red-100">#</span>{{ term.name }}</span>
  <span class="inline md:hidden">#{{ term.name }}</span>
</a>
{% endblock info_comment_control %}
{% block subscribe_controls %}

{% endblock subscribe_controls %}

{# An variable named `comments` that is an array of pages has to be set here for the template to work #}
{% block choose_comments %}
  {% if term.name != "all" %}
  {% set comments = term.pages | concat(with=get_taxonomy_term(kind="subjects", term=term.pages[0].taxonomies.subjects[0]) | get(key="pages")) %}
  {% set children = get_taxonomy_term(kind="replies", term=term.name) | get(key="pages") | sort(attribute="date") | slice(start=1) | reverse %}
  {% set subject_comments = get_taxonomy_term(kind="subjects", term=term.pages[0].taxonomies.subjects[0]) | get(key="pages") %}
  {% endif %}
{% endblock choose_comments %}
{% block pending_comments %}{% endblock pending_comments %}

{% block render_comments %}
{% if term.name != "all" %}
{% for c in children %}
{{ comments::write_thread(head=c, comments=subject_comments, level=1, root=c, template=false) }}
{% endfor %}
{% endif %}
{% endblock render_comments %}