{% set doc = page | default(value=section) %}
<nav>
  <ul class="flex gap-1 justify-end prose-li:list-none">
      <li>🍞:</li>
    {% set path = doc.ancestors | concat(with=doc.permalink) %}
    {% for a in path %}
      {% if not loop.last %}
        {% set url = get_url(path='@/' ~ a) %}
      {% else %}
        {% set url = get_url(path='@/' ~ doc.relative_path) %}
      {% endif %}
      <li>/</li>
      <li><a href="{{ url }}" class="text-red-400 hover:underline">
        {% if loop.first %}
        home
        {% else %}
        {{ doc.components | nth(n=loop.index0-1) }}
        {% endif %}

      </a></li>
    {% endfor %}
    <li>/</li>
  </ul>
</nav>