<nav class="flex text-blue-400 py-12 text-md md:text-xl">
  {% if prev_path %}
  <span>
    <a href="{{ prev_path }}" class="no-underline text-blue-400 font-bold">
      <span>←</span>
      <span>Prev</span>
      {%- if prev_text -%}
      : <span class="text-gray-800 dark:text-neutral-200">{{ prev_text }}</span>
      {% endif %}
    </a>
  </span>
  {% endif %}
  {% if next_path %}
  <span class="ml-auto">
    <a href="{{ next_path }}" class="no-underline text-blue-400 font-bold">
      <span>Next</span>
      {%- if next_text -%}
      : <span class="text-gray-800 dark:text-neutral-200">{{ next_text }}</span>
      {% endif %}
      <span> →</span>
    </a>
  </span>
  {% endif %}
</nav>