<section id="toc" class="prose-headings:text-right prose-headings:border-b prose-headings:border-dashed prose-a:decoration-pink-400! prose-a:decoration-solid! prose-code:bg-orange-200!">
  <a href="#toc" class="float-right text-2xl text-pink-300 no-underline ml-2">#</a>
  {{ subtitle | default(value="## Table of Contents") | markdown | safe }}
  {% set doc = section | default(value=page) %}
  <div class="pr-4 {% if doc.extra.comments.enabled %}border-b{% endif %} dark:border-gray-300 border-dashed">
  {{ body | markdown | safe }}
  </div>

  {% if  doc.extra.comments.enabled %}
  <ul>
    <li>
    <a href="#comments" class="no-underline text-inherit  dark:text-emerald-200 ">Comments</a><span> 💬</span>
    </li>
  </ul>
  {% endif %}
</section>