{% set shared_nav_styles = "hover:underline decoration-black" %}
{% set top_level_nav_styles = "text-gray-800 dark:text-teal-200" %}
{% set second_level_nav_styles = "text-gray-900 dark:text-orange-200 text-sm" %}
{% set ternary_level_nav_styles = "text-gray-950 dark:text-pink-200 text-xs" %}

{# See includes/side-nav-toggle.html #}
<input type="checkbox" name="open-menu" id="open-menu" class="peer hidden" />
<nav id="secondary-nav" class="bg-amber-200 bg-[url(/patterns/wiggle.svg)]
  dark:bg-slate-900 dark:bg-[url(/patterns/wiggle_dark.svg)]
  w-64 overflow-y-scroll h-full
  hidden md:block peer-checked:block">
  <ul id="toc" class="py-4 px-4 list-disc list-inside font-medium dark:marker:text-neutral-50">
    <li class="list-none text-center mb-4"><a href="/docs" class="text-slate-900 dark:text-green-500 text-2xl font-black underline hover:decoration-2">r3ply Docs</a></li>
    <li class="list-none"><a href="/docs#table-of-contents" class="font-extrabold text-lg text-slate-800 dark:text-blue-300 {{ shared_nav_styles }}">Table of Contents:</a></li>
    <li>
      <a href="/docs/getting-started" class="{{ shared_nav_styles }} {{ top_level_nav_styles }}">Getting Started</a>
      <ul class="px-4 list-disc list-inside font-light text-gray-700 dark:text-red-100">
          <li>
              <a href="/docs/getting-started#installation-setup" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Installation & Setup</a>
          </li>
          <li>
              <a href="/docs/getting-started#generating-a-config" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Generate a Config</a>
          </li>
          <li>
              <a href="/docs/getting-started#simulating-a-comment" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Simmulating a Comment</a>
          </li>
          <li>
              <a href="/docs/getting-started#what-s-inside-a-comment" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">What's Inside a Comment</a>
          </li>
          <li>
              <a href="/docs/getting-started#next-steps" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Summary & Next Steps</a>
          </li>
      </ul>
    </li>
    <li>
      <a href="/docs/overview" class="{{ shared_nav_styles }} {{ top_level_nav_styles }}">Overview</a>
      <ul class="px-4 list-disc list-inside font-light text-gray-700">
          <li>
            <a href="/docs/overview#fundamentals" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Fundamentals</a>
            <ol class="px-4 list-['⁃_'] list-inside font-light">
              <li>
                <a href="/docs/overview#r3ply" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">r3ply</a>
              </li>
              <li>
                <a href="/docs/overview#sites-signets" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Sites & Signets</a>
              </li>
              <li>
                <a href="/docs/overview#configs" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Configs</a>
              </li>
              <li>
                <a href="/docs/overview#anonymization" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Anonymization</a>
              </li>
              <li>
                <a href="/docs/overview#encryption" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Encryption</a>
              </li>
              <li>
                <a href="/docs/overview#moderation" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Moderation</a>
              </li>
            </ol>
          </li>
      </ul>
    </li>
    <li>
      <a href="/docs/config" class="{{ shared_nav_styles }} {{ top_level_nav_styles }}">Config</a>
      <ul class="px-4 list-disc list-inside font-light text-gray-700">
          <li>
              <a href="/docs/config#fundamentals" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Fundamentals</a>
              <ul class="px-4 list-disc list-inside font-light">
                  <li>
                      <a href="/docs/config#versioning-of-r3ply" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Versioning of r3ply</a>
                  </li>
                  <li>
                      <a href="/docs/config#file-types-and-locations" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">File Types & Locations</a>
                  </li>
                  <li>
                      <a href="/docs/config#config-schemas" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Config Schemas</a>
                  </li>
                  <li>
                      <a href="/docs/config#variables-and-types" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Variables & Types</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="/docs/config#r3ply-site-config" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Site Config</a>
              <ul class="px-4 list-disc list-inside font-light">
                  <li>
                      <a href="/docs/config#site-config-entry" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Sites</a>
                  </li>
                  <li>
                      <a href="/docs/config#comments-configuration" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Comments</a>
                  </li>
                  <li>
                      <a href="/docs/config#moderation-configuration" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Moderation</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="/docs/config#r3ply-system-config" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">System Config</a>
          </li>
      </ul>
    </li>
    <li>
      <a href="/docs/templating" class="{{ shared_nav_styles }} {{ top_level_nav_styles }}">Templating</a>
      <ul class="px-4 list-disc list-inside font-light text-gray-700">
          <li>
              <a href="/docs/templating/tera2-language" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Language & Syntax</a>
              <ul class="px-4 list-disc list-inside font-light">
                  <li>
                      <a href="/docs/templating#language-basics" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Basics</a>
                  </li>
                  <li>
                      <a href="/docs/templating#assigning-variables" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Assigning Variables</a>
                  </li>
                  <li>
                      <a href="/docs/templating#accessing-variables" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Accessing Variables</a>
                  </li>
                  <li>
                      <a href="/docs/templating#control-structures" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Control Structures</a>
                  </li>
                  <li>
                      <a href="/docs/templating#filters" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Filters</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="/docs/templating/template-contexts" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Template Contexts</a>
              <ul class="px-4 list-disc list-inside font-light">
                  <li>
                      <a href="/docs/templating#base-comment-template-context" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Base Context</a>
                  </li>
                  <li>
                      <a href="/docs/templating#email-comment-template-context" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Email Context</a>
                  </li>
                  <li>
                      <a href="/docs/templating#example-template-contexts" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Examples</a>
                  </li>
              </ul>
          </li>
      </ul>
    </li>
    <li>
      <a href="/docs/cli" class="{{ shared_nav_styles }} {{ top_level_nav_styles }} prose">
        {{ '`re` - CLI Tool' | markdown | safe }}
      </a>
    </li>
    <li>
      <a href="/docs/cli" class="{{ shared_nav_styles }} {{ top_level_nav_styles }}">Tracing a Comment</a>
      {# TODO #}
      {# <ul class="px-4 list-disc list-inside font-light text-gray-700">
          <li>
              <a href="/docs/cli#install" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Install `re`</a>
          </li>
          <li>
              <a href="/docs/cli#init" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Initialize Project</a>
          </li>
          <li>
              <a href="/docs/cli#config-validate" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Validating Configs</a>
          </li>
          <li>
              <a href="/docs/cli#simulate" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Simulating Comments</a>
              <ul class="px-4 list-disc list-inside font-light">
                  <li>
                      <a href="/docs/cli#simulate-filter" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Filtering Output</a>
                  </li>
                  <li>
                      <a href="/docs/cli#write-simulation-output" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Writing Output</a>
                  </li>
              </ul>
          </li>
      </ul> #}
    </li>
  </ul>
</nav>
