{% set shared_nav_styles = "hover:underline decoration-black prose-p:inline" %}
{% set top_level_nav_styles = "text-gray-800 dark:text-cyan-300" %}
{% set second_level_nav_styles = "text-gray-900 dark:text-amber-200 text-sm" %}
{% set ternary_level_nav_styles = "text-gray-950 dark:text-fuchsia-300 text-xs" %}

{# See includes/side-nav-toggle.html #}
<input type="checkbox" name="open-menu" id="open-menu" class="peer hidden" />
<nav id="secondary-nav" class="pb-4 bg-amber-200 bg-[url(/patterns/wiggle.svg)]
  dark:bg-slate-900 dark:bg-[url(/patterns/wiggle_dark.svg)]
  w-64 overflow-y-scroll h-full
  hidden md:block peer-checked:block">
  {# r3ply Docs #}
  <ul id="docs-toc" class="py-4 px-4 list-disc list-inside font-medium dark:marker:text-neutral-50">
    <li class="list-none text-center mb-4"><a href="{{ get_url(path='@/docs/_index.md', lang=lang) }}" class="text-slate-900 dark:text-pink-300 text-2xl font-black underline hover:decoration-2">r3ply Docs</a></li>
    <li class="list-none"><a href="{{ get_url(path='@/docs/_index.md#table-of-contents', lang=lang) }}" class="font-extrabold text-lg text-slate-800 dark:text-blue-300 {{ shared_nav_styles }}">Table of Contents:</a></li>
    {# Getting Started #}
    <li>
      <a href="{{ get_url(path='@/docs/getting-started.md', lang=lang) }}" class="{{ shared_nav_styles }} {{ top_level_nav_styles }}">Getting Started</a>
      <ul class="px-4 list-disc list-inside font-light text-gray-700 dark:text-red-100">
          <li>
              <a href="{{ get_url(path='@/docs/getting-started.md#installation-and-setup', lang=lang) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Installation & Setup</a>
          </li>
          <li>
              <a href="{{ get_url(path='@/docs/getting-started.md#generating-a-config', lang=lang) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Generating a Config</a>
          </li>
          <li>
              <a href="{{ get_url(path='@/docs/getting-started.md#simulating-a-comment', lang=lang) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Simulating a Comment</a>
          </li>
          <li>
              <a href="{{ get_url(path='@/docs/getting-started.md#inside-a-comment', lang=lang) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">What's Inside a Comment</a>
          </li>
          <li>
              <a href="{{ get_url(path='@/docs/getting-started.md#integrating-comments', lang=lang) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Integrating Comments</a>
          </li>
          <li>
              <a href="{{ get_url(path='@/docs/getting-started.md#next-steps', lang=lang) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Summary & Next Steps</a>
          </li>
      </ul>
    </li>
    {# Overview #}
    <li>
      <a href="{{ get_url(path='@/docs/overview.md', lang=lang) }}" class="{{ shared_nav_styles }} {{ top_level_nav_styles }}">Overview</a>
      <ul class="px-4 list-disc list-inside font-light text-gray-700">
          <li>
            <a href="{{ get_url(path='@/docs/overview.md#fundamentals', lang=lang) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Fundamentals</a>
            <ul class="px-4 list-['⁃_'] list-inside font-light">
              <li>
                <a href="{{ get_url(path='@/docs/overview.md#r3ply', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">r3ply</a>
              </li>
              <li>
                <a href="{{ get_url(path='@/docs/overview.md#sites-signets', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Sites & Signets</a>
              </li>
              <li>
                <a href="{{ get_url(path='@/docs/overview.md#configs', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Configs</a>
              </li>
              <li>
                <a href="{{ get_url(path='@/docs/overview.md#privacy', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Privacy</a>
              </li>
              <li>
                <a href="{{ get_url(path='@/docs/overview.md#data-flow', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Data Flow</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="{{ get_url(path='@/docs/overview.md#comment-sources', lang=lang) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Comment Sources</a>
            <ul class="px-4 list-['⁃_'] list-inside font-light">
              <li>
                <a href="{{ get_url(path='@/docs/overview.md#comments-via-email', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Email</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="{{ get_url(path='@/docs/overview.md#moderation-channels', lang=lang) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Moderation Channels</a>
            <ul class="px-4 list-['⁃_'] list-inside font-light">
              <li>
                <a href="{{ get_url(path='@/docs/overview.md#github-moderation', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">GitHub</a>
              </li>
              <li>
                <a href="{{ get_url(path='@/docs/overview.md#webhook-moderation', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Webhook</a>
              </li>
              <li>
                <a href="{{ get_url(path='@/docs/overview.md#local-moderation', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Local</a>
              </li>
            </ul>
          </li>
      </ul>
    </li>
    {# Config #}
    <li>
      <a href="{{ get_url(path='@/docs/config.md', lang=lang) }}" class="{{ shared_nav_styles }} {{ top_level_nav_styles }}">Config</a>
      <ul class="px-4 list-disc list-inside font-light text-gray-700">
          <li>
              <a href="{{ get_url(path='@/docs/config.md#fundamentals', lang=lang) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Fundamentals</a>
              <ul class="px-4 list-disc list-inside font-light">
                  <li>
                      <a href="{{ get_url(path='@/docs/config.md#versioning-of-r3ply', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Versioning of r3ply</a>
                  </li>
                  <li>
                      <a href="{{ get_url(path='@/docs/config.md#file-types-and-locations', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">File Types & Locations</a>
                  </li>
                  <li>
                      <a href="{{ get_url(path='@/docs/config.md#config-schemas', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Config Schemas</a>
                  </li>
                  <li>
                      <a href="{{ get_url(path='@/docs/config.md#variables-and-types', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Variables & Types</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="{{ get_url(path='@/docs/config.md#r3ply-site-config', lang=lang) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Site Config</a>
              <ul class="px-4 list-disc list-inside font-light">
                  <li>
                      <a href="{{ get_url(path='@/docs/config.md#site-config-entry', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Sites</a>
                  </li>
                  <li>
                      <a href="{{ get_url(path='@/docs/config.md#comments-configuration', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Comments</a>
                  </li>
                  <li>
                      <a href="{{ get_url(path='@/docs/config.md#moderation-configuration', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Moderation</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="{{ get_url(path='@/docs/config.md#r3ply-system-config', lang=lang) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">System Config</a>
          </li>
      </ul>
    </li>
    {# Templating #}
    <li>
      <a href="{{ get_url(path='@/docs/templating.md', lang=lang) }}" class="{{ shared_nav_styles }} {{ top_level_nav_styles }}">Templating</a>
      <ul class="px-4 list-disc list-inside font-light text-gray-700">
          <li>
              <a href="{{ get_url(path='@/docs/templating.md#templating-language-syntax', lang=lang) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Language & Syntax</a>
              <ul class="px-4 list-disc list-inside font-light">
                  <li>
                      <a href="{{ get_url(path='@/docs/templating.md#language-basics', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Basics</a>
                  </li>
                  <li>
                      <a href="{{ get_url(path='@/docs/templating.md#assigning-variables', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Assigning Variables</a>
                  </li>
                  <li>
                      <a href="{{ get_url(path='@/docs/templating.md#accessing-variables', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Accessing Variables</a>
                  </li>
                  <li>
                      <a href="{{ get_url(path='@/docs/templating.md#control-structures', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Control Structures</a>
                  </li>
                  <li>
                      <a href="{{ get_url(path='@/docs/templating.md#filters', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Filters</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="{{ get_url(path='@/docs/templating.md#template-context', lang=lang) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Template Contexts</a>
              <ul class="px-4 list-disc list-inside font-light">
                  <li>
                      <a href="{{ get_url(path='@/docs/templating.md#base-comment-template-context', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Base Context</a>
                  </li>
                  <li>
                      <a href="{{ get_url(path='@/docs/templating.md#email-comment-template-context', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Email Context</a>
                  </li>
                  <li>
                      <a href="{{ get_url(path='@/docs/templating.md#example-template-contexts', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Examples</a>
                  </li>
              </ul>
          </li>
      </ul>
    </li>
    {# CLI #}
    <li>
      <a href="{{ get_url(path='@/docs/cli.md', lang=lang) }}" class="{{ shared_nav_styles }} {{ top_level_nav_styles }} prose prose-p:inline">
        {{ '`re` - CLI Tool' | markdown | safe }}
      </a>
      <ul class="px-4 list-disc list-inside font-light text-gray-700">
          {# Installation #}
          <li>
              <a href="{{ get_url(path='@/docs/cli.md#install', lang=lang) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Installation</a>
          </li>
          {# Initialization #}
          <li>
              <a href="{{ get_url(path='@/docs/cli.md#init', lang=lang) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Initializing a r3ply Project</a>
          </li>
          {# `config` cmd #}
          <li>
              <a href="{{ get_url(path='@/docs/cli.md#config', lang=lang) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }} prose">
                Working with Configs
                </a>
              <ul class="px-4 list-disc list-inside font-light">
                  {# `validate` #}
                  <li>
                      <a href="{{ get_url(path='@/docs/cli.md#config-validate', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }} prose">
                        Validate Configs
                      </a>
                  </li>
                  {# `set-default` #}
                  <li>
                      <a href="{{ get_url(path='@/docs/cli.md#config-set-default', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }} prose">
                        Set a Default Config
                      </a>
                  </li>
              </ul>
          </li>
          {# `generate` cmd #}
          <li>
              <a href="{{ get_url(path='@/docs/cli.md#generate', lang=lang) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }} prose">
                The {{ '`generate` cmd' | markdown | safe }}
                </a>
              <ul class="px-4 list-disc list-inside font-light">
                  {# `generate config` #}
                  <li>
                      <a href="{{ get_url(path='@/docs/cli.md#generate-config', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }} prose">
                        {{ '`config`' | markdown | safe }}
                      </a>
                  </li>
                  {# `generate mailto` #}
                  <li>
                      <a href="{{ get_url(path='@/docs/cli.md#generate-mailto', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }} prose">
                        {{ '`mailto`' | markdown | safe }}
                      </a>
                  </li>
                  {# `generate signet` #}
                  <li>
                      <a href="{{ get_url(path='@/docs/cli.md#generate-signet', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }} prose">
                        {{ '`signet`' | markdown | safe }}
                      </a>
                  </li>
                  {# `generate email` #}
                  <li>
                      <a href="{{ get_url(path='@/docs/cli.md#generate-email', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }} prose">
                        {{ '`email`' | markdown | safe }}
                      </a>
                  </li>
              </ul>
          </li>
          {# `simulate` cmd #}
          <li>
              <a href="{{ get_url(path='@/docs/cli.md#simulate', lang=lang) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }} prose">
                The `simulate` cmd
                </a>
              <ul class="px-4 list-disc list-inside font-light">
                  {# `simulate email` #}
                  <li>
                      <a href="{{ get_url(path='@/docs/cli.md#simulate-email', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }} prose">
                        Simulating Emails
                      </a>
                  </li>
                  {# `--filter/--quiet` #}
                  <li>
                      <a href="{{ get_url(path='@/docs/cli.md#simulate-filtering-output', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }} prose">
                        Filtering Output
                      </a>
                  </li>
              </ul>
          </li>
      </ul>
    </li>
    {# Schemas #}
    <li>
      <a href="{{ get_url(path='@/docs/schemas.md', lang=lang) }}" class="{{ shared_nav_styles }} {{ top_level_nav_styles }} prose prose-p:inline">
        Schemas
      </a>
    </li>
    {# API #}
    <li>
      <a href="{{ get_url(path='@/docs/api.md', lang=lang) }}" class="{{ shared_nav_styles }} {{ top_level_nav_styles }}">API</a>
      <ul class="px-4 list-disc list-inside font-light text-gray-700">
        <li>
          <a href="{{ get_url(path='@/docs/api.md#rest', lang=lang) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">REST</a>
          <ul class="px-4 list-disc list-inside font-light">
            <li>
              <a href="{{ get_url(path='@/docs/api.md#issue-signet', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Issue Signet</a>
            </li>
            <li>
              <a href="{{ get_url(path='@/docs/api.md#pending-comments-cache', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">Comments Cache</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <hr class="my-4 border-2 dark:border-gray-300 border-dashed">
  {# Other Links #}
  <ul id="other-toc" class="py-4 px-4 list-disc list-inside font-medium dark:marker:text-neutral-50">
    <li class="list-none text-center mb-4"><a href="#footer" class="text-slate-900 dark:text-emerald-200 text-2xl font-black underline hover:decoration-2">Other Links</a></li>
    {# Home #}
    <li>
      <a href="{{ get_url(path='@/_index.md', lang=lang) }}" class="{{ shared_nav_styles }} {{ top_level_nav_styles }}">Home</a>
    </li>
    <li>
      <span class="{{ shared_nav_styles }} {{ top_level_nav_styles }} text-gray-600! cursor-not-allowed">Blog (Coming Soon)</span>
    </li>
    {# /Demo #}
    <li>
      <a href="{{ get_url(path='@/demo.md', lang=lang) }}" class="{{ shared_nav_styles }} {{ top_level_nav_styles }}">Demo</a>
    </li>
    {# /project #}
    <li>
      <a href="{{ get_url(path='@/project/_index.md', lang=lang) }}" class="{{ shared_nav_styles }} {{ top_level_nav_styles }}">Project</a>
      <ul class="px-4 list-disc list-inside font-light text-gray-700 dark:text-red-100">
        <li>
          <a href="{{ get_url(path='@/project/about.md', lang=lang) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">About</a>
        </li>
        <li>
          <a href="{{ get_url(path='@/project/roadmap.md', lang=lang) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Roadmap</a>
        </li>
        <li>
          <a href="{{ get_url(path='@/project/contributing.md', lang=lang) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Contributing</a>
        </li>
        <li>
          <a href="{{ get_url(path='@/project/contact.md', lang=lang) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Contact & Support</a>
        </li>
      </ul>
    </li>
    {# Site Links #}
    <li>
      <span class="prose-p:inline {{ top_level_nav_styles }}">Site Links</span>
      <ul class="px-4 list-disc list-inside font-light text-gray-700 dark:text-red-100">
          <li>
            <a href="https://github.com/asimpletune/r3ply/" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">GitHub Repo</a>
          </li>
          <li>
            <a href="https://liberapay.com/spence/donate" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Donate</a>
          </li>
          <li>
            <a href="{{ get_url(path='@/feeds.md', lang=lang) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">RSS Feeds</a>
            <ul class="px-4 list-disc list-inside font-light">
              <li>
                <a href="{{ get_url(path='@/docs/config.md#site-config-entry', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">All Comments</a>
              </li>
              <li>
                <a href="{{ get_url(path='@/docs/config.md#comments-configuration', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">By Page</a>
              </li>
              <li>
                <a href="{{ get_url(path='@/docs/config.md#comments-configuration', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">By Thread</a>
              </li>
              <li>
                <a href="{{ get_url(path='@/docs/config.md#comments-configuration', lang=lang) }}" class="{{ shared_nav_styles }} {{ ternary_level_nav_styles }}">By Author</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="{{ get_url(path='@/project/roadmap.md', lang=lang) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Sitemap.xml</a>
          </li>
          <li>
            <a href="{{ get_url(path='@/taxonomy.md', lang=lang) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Taxonomy</a>
          </li>
      </ul>
    </li>
    {# Comments #}
    <li>
      <span class="prose-p:inline {{ top_level_nav_styles }}">Comments</span>
      <ul class="px-4 list-disc list-inside font-light text-gray-700 dark:text-red-100">
          <li>
            <a href="{{ get_url(path='/comments/', lang=lang, trailing_slash=true) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">All Comments</a>
          </li>
          <li>
            <a href="{{ get_url(path='/subjects/', lang=lang, trailing_slash=true) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">By Page</a>
          </li>
          <li>
            <a href="{{ get_url(path='/commenters/', lang=lang, trailing_slash=true) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">By Author</a>
          </li>
          <li>
            <a href="{{ get_url(path='/threads/', lang=lang, trailing_slash=true) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">By Thread</a>
          </li>
          <li>
            <a href="{{ get_url(path='/replies/', lang=lang, trailing_slash=true) }}" class="{{ shared_nav_styles }} {{ second_level_nav_styles }}">Replies</a>
          </li>
          <li>
            <span class="{{ shared_nav_styles }} {{ top_level_nav_styles }} text-gray-600! cursor-not-allowed">Aliases (Coming Soon)</span>
          </li>
      </ul>
    </li>
  </ul>
</nav>
