  <nav id="primary-nav"
    class="
      bg-violet-200 bg-[url(/patterns/random-shapes.svg)]
        border-b-2 border-gray-400
        dark:border-b-2 dark:border-b-slate-600
      dark:bg-slate-950 dark:bg-[url(/patterns/random-shapes_dark.svg)]
  ">
    <ul class="flex items-center gap-2 text-slate-800 dark:text-yellow-50">
      <li class="flex-1 ml-2 md:ml-4 py-4">
        <a class="font-black text-xl md:text-3xl mr-0.5" href="/">r3ply</a>
        <span class="text-xs font-mono md:ml-4 md:text-md text-neutral-700 dark:text-cyan-200 tracking-tighter md:tracking-normal">v{{ config.extra.r3ply_version }}</span>
      </li>
      <li><a class="hidden md:inline text md:text-xl font-medium hover:underline decoration-black dark:decoration-inherit" href="{{ get_url(path='@/_index.md', lang=lang) }}">Home</a></li>
      <li><a class="text md:text-xl font-medium hover:underline decoration-black dark:decoration-inherit" href="{{ get_url(path='@/docs/_index.md', lang=lang) }}">Docs</a></li>
      <li><a class="text md:text-xl font-medium hover:underline decoration-black dark:decoration-inherit" href="{{ get_url(path='@/docs/_index.md', lang=lang) }}">Demo</a></li>
      <li>|</li>
      <li>
        <a class="md:text-xl font-light after:content-['_↗']" href="https://github.com/asimpletune/r3ply">GitHub</a>
      </li>
      <li class="mr-2 md:mr-4 shrink cursor-pointer">
        <a href="https://liberapay.com/spence/donate">
          <img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg" class="w-16 md:w-18">
        </a>
      </li>
    </ul>
  </nav>