{#-
  To override a block in an extending template just redeclare it.
  To extend a block, redeclare it and use `{{ super() }}` to render the parent.

  Sometimes you can't do that, for example if you need to change the parent AND declare it before or after. In which case there are {% block_open/close_tag %}. This way you can always place content before/after some other content AND change the middle content. For example:

  {% block main_tag%}
  {{ super() }} <!-- re-render the parent's main tag -->
    <aside>...</aside>{% endblock main_tag%} <!-- add an <aside> -->
    <!-- AND change the article -->
    {% block article %}<article>...change the parent</article>{% endblock article %}
  </main>
-#}
{% import "macros/comments.html" as comments %}
<!DOCTYPE html>
{% block html %}
<html lang="{{ lang }}" class="scroll-smooth">
{% block head %}
<head>
  {% block preamble %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endblock preamble %}
  {% block title %}
    {% set title = section.title | default(value=page.title) %}
    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }}" />
    <meta name="twitter:title" content="{{ title }}" />
  {% endblock title %}
  {% block description %}
    {% if page or section or taxonomy %}
      {% set description = section.description
        | default(value=page.description
        | default(value=config.description)) %}
    {% endif %}
    <meta name="description" content="{{ description }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta name="twitter:description" content="{{ description }}" />
  {% endblock description %}
  {% block styling %}
    <link rel="stylesheet" href="/style.css">
    <meta name="color-scheme" content="dark light">
  {% endblock styling %}
  {% block favicon %}
    {% include "includes/favicon.html" %}
  {% endblock favicon %}
  {% block share_img %}
  <meta property="og:image" content="/illustrations/banner.png" />
  <meta name="twitter:image" content="/illustrations/banner.png" />
  <meta property="og:image:width" content="1280" />
  <meta property="og:image:height" content="650" />
  <meta name="og:image:alt" content="r3ply share banner with pain pattern" />
  <meta name="twitter:image:alt" content="r3ply share banner with pain pattern" />
  {% endblock share_img %}
</head>
{% endblock head %}
{% block body %}
{% block body_open_tag %}
<body class="min-h-screen flex flex-col bg-green-50 dark:bg-slate-950 bg-[url(/patterns/bank-note.svg)] dark:bg-[url(/patterns/bank-note_dark.svg)] has-[#commenting-instructions:checked]:overflow-hidden">{% endblock body_open_tag %}
  {% block top_nav %}
    {% include "includes/top-nav.html" %}
  {% endblock top_nav %}
  {% block main %}
  {% block main_open_tag %}
   <main class="grow py-6">{% endblock main_open_tag %}
    {% block article %}
      {% block article_open_tag %}
      <article id="content" class="overflow-x-clip prose
        {% block article_width %}
          max-w-prose
        {% endblock article_width %}
        {% block article_margins_and_padding %}
          px-4 md:px-0 mx-auto
        {% endblock article_margins_and_padding %}
        {% block prose_overrides %}
          prose-neutral prose-li:marker:text-black prose-pink prose-em:font-light dark:prose-li:marker:text-neutral-300 prose-hr:border-black dark:prose-hr:border-gray-400 dark:prose-invert
        {% endblock prose_overrides %}
        {% block decoration_overrides %}
          not-dark:prose-a:has-[code]:decoration-2 prose-a:has-[code]:decoration-dashed prose-a:has-[code]:underline-offset-[6px] prose-a:has-[code]:decoration-yellow-400 prose-a:has-[code]:hover:decoration-solid
        {% endblock decoration_overrides %}
        {% block article_extra_styling %}{% endblock article_extra_styling %}
      ">{% endblock article_open_tag %}
        {% block content %}
          {# For some reason, if I don't save as a variable first, then it breaks how other pages that extend the content block escape #}
          {% set content = section.content | default(value=page.content) %}
          {{ content | safe }}
        {% endblock content %}
      {% block article_close_tag %}
      </article>{% endblock article_close_tag %}
    {% endblock article %}
  {% block main_close_tag %}
  </main>{% endblock main_close_tag %}
  {% endblock main %}
  {% block comments %}
    {% set doc = section | default(value=page | default(value=false)) %}
    {% if doc.extra.comments.enabled %}
      {% set comments = get_section(path="comments/_index.md")
        | get(key="pages")
        | filter(attribute="extra.comment.document", value=current_path) %}
      <section id="comments" class="py-12 border-t-4 border-gray-500 dark:border-pink-300 border-dashed md:pr-6 pr-2">
        <details class="group" open>
          <summary class="pl-4">
            <h2 class="text-center text-4xl md:text-5xl font-thin">
              Comments ({{ comments | length }})
              <a href="#comments" class="text-pink-400 font-normal">#</a>
            </h2>
            <div id="comment-controls" class="flex justify-center gap-2 md:gap-16 my-12 text-center">
              {% set controls = "text-gray-900 font-light text-md tracking-tighter md:text-xl cursor-pointer rounded-lg px-2 py-1 md:px-3 md:py-2 border border-gray-500" %}
              <a
              href="{{ util::mailto(to=config.extra.comments_email, subject=current_path, body=config.extra.mail_body_instructions) }}"
              class="{{ controls }} bg-yellow-300 hover:bg-yellow-500">
                <span class="hidden md:inline">Write Comment</span>
                <span class="inline md:hidden">Comment</span>
              </a>
              <label for="commenting-instructions" class="{{ controls }} bg-green-300 hover:bg-green-400">
                <span class="font-mono">[?]</span> Info</label>
              <span class="hidden group-open:inline {{ controls }} bg-blue-300 hover:bg-blue-400">
                <span class="font-mono">[-]</span>
                <span class="hidden md:inline">Collapse All</span>
                <span class="inline md:hidden">Collapse</span>
              </span>
              <span class="inline group-open:hidden {{ controls }} bg-blue-300 hover:bg-blue-400">
                <span class="font-mono">[+]</span>
                <span class="hidden md:inline">Expand All</span>
                <span class="inline md:hidden">Expand</span>
              </span>

              <input type="checkbox" id="commenting-instructions" class="peer hidden">
              <div class="fixed inset-0 hidden peer-checked:flex items-center justify-center bg-slate-950/50 dark:bg-white/25">
                <div class="bg-green-50 p-4 rounded-lg shadow relative max-h-[90vh] overflow-y-auto">
                  <label for="commenting-instructions" class="text-black cursor-pointer absolute top-2 right-4">Close</label>
                  <div class="prose py-12 overflow-clip prose-code:wrap-anywhere text-left">
                    {{ load_data(path="commenting-instructions.md")
                        | regex_replace(pattern="\{\{ current_path \}\}", rep=current_path)
                        | markdown
                        | safe }}
                  </div>
                </div>
              </div>
            </div>
          </summary>
          {{ comments::write_all(for_comments=comments, doc=doc)}}
        </details>
      </section>
    {% endif %}
  {% endblock comments %}
  {% block footer %}
  {% block footer_open_tag %}
  <footer id="footer" class="h-full flex flex-col md:bg-[url(/illustrations/r3ply-footer.png)] bg-contain bg-no-repeat
  bg-center bg-gray-950
  border-t border-solid border-violet-600 relative">{% endblock footer_open_tag %}
    <a href="#footer" class="absolute top-3 right-4 text-pink-400 text-2xl">#</a>
    <img src="/illustrations/r3ply-footer.png" alt="A volcano with a dark background" class="md:hidden">
    <ul class="grow h-full w-full grid grid-cols-2 md:grid-cols-4 gap-y-6 px-4 md:px-0 mt-2 pb-10 md:py-48 text-slate-300 justify-items-center">
      {% set sub_menu_headers = "font-medium text-lg md:text-xl" %}
      {# {% set main_menu_items = "ml-12 md:ml-0" %} #}
      {% set sub_menu_styles = "pt-3" %}
      {% set sub_menu_items = "underline decoration-dotted text-sm md:text-lg font-light hover:text-white hover:decoration-solid" %}
      {# Site Sections #}
      <li class="w-[8rem] md:w-auto text-right">
        <span class="text-teal-300 {{ sub_menu_headers }}">Sections:</span>
        <ul class="{{ sub_menu_styles }}">
          {% set site_sections_styles = "decoration-teal-300" %}
          <li class="{{ sub_menu_items }} {{ site_sections_styles }}"><a href="{{ get_url(path='@/_index.md') }}">Home</a></li>
          <li class="{{ sub_menu_items }} {{ site_sections_styles }}"><a href="/todo" class="hover:text-white">Demo</a></li>
          <li class="{{ sub_menu_items }} {{ site_sections_styles }}"><a href="{{ get_url(path='@/docs/_index.md') }}" >Docs</a></li>
          <li class="{{ sub_menu_items }} {{ site_sections_styles }}"><a href="{{ get_url(path='@/project/_index.md', lang=lang) }}">Project</a></li>
        </ul>
      </li>
      {# Doc Links #}
      <li class="w-[8rem] md:w-auto md:text-right">
        {% set doc_styles = "decoration-pink-300" %}
        <span class="text-pink-300 {{ sub_menu_headers }} hover:underline {{ doc_styles }}"><a href="{{ get_url(path='@/docs/_index.md') }}">Docs:</a></span>
        <ul class="{{ sub_menu_styles }}">
          <li class="{{ sub_menu_items }} {{ doc_styles }}"><a href="{{ get_url(path='@/docs/getting-started.md') }}">Getting Started</a></li>
          <li class="{{ sub_menu_items }} {{ doc_styles }}"><a href="{{ get_url(path='@/docs/overview.md') }}">Overview</a></li>
          <li class="{{ sub_menu_items }} {{ doc_styles }}"><a href="{{ get_url(path='@/docs/config.md') }}">Config</a></li>
          <li class="{{ sub_menu_items }} {{ doc_styles }}"><a href="{{ get_url(path='@/docs/templating.md') }}">Templating</a></li>
          <li class="{{ sub_menu_items }} {{ doc_styles }}"><a href="{{ get_url(path='@/docs/cli.md') }}">CLI</a></li>
        </ul>
      </li>
      {# "Site" Links #}
      <li class="w-[8rem] md:w-auto text-right md:text-left">
        <span class="text-yellow-200 {{ sub_menu_headers }}">Site Links:</span>
        <ul class="{{ sub_menu_styles }}">
          {% set site_links_styles = "decoration-yellow-200" %}
          <li class="{{ sub_menu_items }} {{ site_links_styles }}"><a href="https://github.com/asimpletune/r3ply/">GitHub Repo</a></li>
          <li class="{{ sub_menu_items }} {{ site_links_styles }}"><a href="https://liberapay.com/spence/donate">Donate</li>
          <li class="{{ sub_menu_items }} {{ site_links_styles }}"><a href="/todo">Browse Comments</a></li>
          <li class="{{ sub_menu_items }} {{ site_links_styles }}"><a href="/todo">RSS Feeds</a></li>
          <li class="{{ sub_menu_items }} {{ site_links_styles }}"><a href="{{ get_url(path='/sitemap.xml') }}">Sitemap.xml</a></li>
        </ul>
      </li>
      {# RSS Feeds #}
      <li class="w-[8rem] md:w-auto">
        <span class="text-red-300 {{ sub_menu_headers }}">RSS Feeds:</span>
        <ul class="{{ sub_menu_styles }}">
          {% set rss_feeds_styles = "decoration-red-300" %}
          <li class="{{ sub_menu_items }} {{ rss_feeds_styles }} cursor-not-allowed text-gray-600 no-underline!"><a href="/todo">Blog (Soon)</a></li>
          <li class="{{ sub_menu_items }} {{ rss_feeds_styles }}"><a href="/todo">All Comments</a></li>
          <li class="{{ sub_menu_items }} {{ rss_feeds_styles }}"><a href="/todo">By Page</a></li>
          <li class="{{ sub_menu_items }} {{ rss_feeds_styles }}"><a href="/todo">By Thread</a></li>
        </ul>
      </li>
    </ul>
    <p class="font-serif font-thin text-center mb-8 md:mb-3.5 text-gray-800"><a href="/todo" class="hover:underline decoration-gray-800 tracking-tight">AB IMO VENIMUS</a><span> | <span><a href="https://spenc.es/" class="hover:underline decoration-gray-800"><span class="hidden md:inline">Made in </span>Rome MMXXV</a></p>
  {% block footer_close_tag %}
  </footer>{% endblock footer_close_tag %}
  {% endblock footer %}
{% block body_close_tag %}
</body>{% endblock body_close_tag %}
{% endblock body %}
</html>
{% endblock html %}