{% extends "base.html" %}

{% block content %}
{% set ctx = load_data(literal=page.extra.comment.ctx, format="json") %}
{% set comment = page %}
<div class="bg-gray-600/75 p-8 rounded-2xl">
<header class="font-mono font-lg">
  {% set purple_text = "text-purple-500 dark:text-purple-300" %}
  {% set cyan_text = "text-cyan-500 dark:text-cyan-300" %}
  {% set gray_text = "text-gray-800 dark:text-gray-100" %}
  {% set amber_text = "text-amber-600 dark:text-amber-400" %}
  {% set blue_text = "text-blue-400 dark:text-blue-300" %}
  <dl class="not-prose">
    {# Comment-ID: #}
    <div class="flex">
      <dt class="inline {{ purple_text }}">Comment-ID</dt>
      <span class="{{ cyan_text }}">: &lt;</span>
      <dd data-comment-id-field class="inline {{ amber_text }} truncate">
        <a class="hover:underline" href="{{ comment.path }}">
          {{ ctx.comment.id }}
        </a>
      </dd>
      <span class="{{ cyan_text }} before:content-['>']"></span>
    </div>
    {# From: #}
    <div class="flex">
      <dt class="inline text-gray-800 dark:text-gray-100">From</dt>
      <span class="{{ cyan_text }}">: &lt;</span>
      <dd class="inline {{ amber_text }} hover:underline">
        <a data-from-field href="/commenters/{{ comment.authors[0] | truncate(length=7, end='') }}/">
          {{ comment.authors[0] | truncate(length=7) }}
        </a>
      </dd>
      <span class="{{ cyan_text }} before:content-['>']"></span>
    </div>
    {# Subject: #}
    <div data-subject-field class="flex overflow-clip">
      <dt class="inline text-gray-800 dark:text-gray-100">Subject</dt>
      <span class="{{ cyan_text }}">: </span>
      <dd class="hidden md:inline {{ amber_text }} ml-[1ch] truncate hover:underline">
        <a data-subject-md href="{{ ctx.comment.subject.path }}{{ ctx.comment.subject.fragment | default(value='') }}">
        {{ ctx.comment.subject.path }}{{ ctx.comment.subject.fragment | default(value="") }}
        </a>
      </dd>
      <dd class="inline md:hidden {{ amber_text }} ml-[1ch] truncate">
        <a data-subject-sm href="{{ ctx.comment.subject.path }}{{ ctx.comment.subject.fragment | default(value='') }}">
        {% if ctx.comment.subject.fragment %}
        {{ ctx.comment.subject.fragment }}
        {% else %}
        ./
        {% endif %}
        </a>
      </dd>
    </div>
    {# Date: #}
    <div data-date-field class="flex">
      <dt class="inline text-gray-800 dark:text-gray-100">Date</dt>
      <span class="{{ cyan_text }}">: </span>
      <dd data-date-md class="hidden md:inline-flex {{ amber_text }} ml-[1ch]">
        <span data-date-md-day>{{ comment.date | date(format="%a") }}</span>
        <span class="{{ cyan_text }}">,</span>
        <span data-date-d-b-Y-H class="ml-[1ch]">{{ comment.date | date(format="%d %b %Y %H") }}</span>
        <span class="{{ cyan_text }}">:</span>
        <span data-date-min>{{ comment.date | date(format="%M") }}</span>
        <span class="{{ cyan_text }}">:</span>
        <span data-date-sec>{{ comment.date | date(format="%S") }}</span>
        <span data-date-tz class="{{ cyan_text }} ml-[1ch]">{{ comment.date | date(format="%z") }}</span>
      </dd>
      <dd data-date-sm class="inline-flex md:hidden {{ amber_text }} ml-[1ch]">
        <span class="text-blue-400">{{ comment.date | date() }}</span>
        <span class="text-pink-400 ml-[1ch]">{{ comment.date | date(format="%H:%M") }}</span>
        <span class="text-yellow-300 ml-[1ch]">{{ comment.date | date(format="%z") }}</span>
      </dd>
    </div>
    {# Auth: #}
    <div class="flex">
      <dt class="inline {{ purple_text }}">Auth</dt>
      <dd class="flex {{ amber_text }} truncate">
        <span class="text-inherit {{ cyan_text }} after:content-['_['] after:dark:text-emerald-300">:</span>
        {# dkim #}
        <span class="{{ blue_text }}">dkim</span>
        <span class="mr-2 {{ cyan_text }}">:</span>
        {% if ctx.email.auth.dkim or template %}
          {% if template %}<template id="dkim-pass-template">{% endif %}
          <span class="text-green-500 font-bold"> ✔</span>
          {% if template %}</template>{% endif %}
        {% endif %}
        {% if not ctx.email.auth.dkim or template %}
          {% if template %}<template id="dkim-fail-template">{% endif %}
          <span class="text-red-500 font-bold"> x</span>
          {% if template %}</template>{% endif %}
        {% endif %}
        {# spf #}
        <span class="{{ cyan_text }}">,</span>
        <span class="ml-2 {{ blue_text }}">spf</span>
        <span class="mr-2 {{ cyan_text }}">:</span>
        {% if ctx.email.auth.spf or template %}
          {% if template %}<template id="spf-pass-template">{% endif %}
          <span class="text-green-500 font-bold"> ✔</span>
          {% if template %}</template>{% endif %}
        {% endif %}
        {% if not ctx.email.auth.spf or template %}
          {% if template %}<template id="spf-fail-template">{% endif %}
          <span class="text-red-500 font-bold"> x</span>
          {% if template %}</template>{% endif %}
        {% endif %}
        {# dmarc #}
        <span class="{{ cyan_text }}">,</span>
        <span class="ml-2 {{ blue_text }}">dmarc</span>
        <span class="mr-2 {{ cyan_text }}">:</span>
        {% if ctx.email.auth.dmarc or template %}
          {% if template %}<template id="dmarc-pass-template">{% endif %}
          <span class="text-green-500 font-bold"> ✔</span>
          {% if template %}</template>{% endif %}
          {% endif %}
        {% if not ctx.email.auth.dmarc or template %}
          {% if template %}<template id="dmarc-fail-template">{% endif %}
          <span class="text-red-500 font-bold"> x</span>
          {% if template %}</template>{% endif %}
        {% endif %}
        <span class="text-inherit before:content-[']'] before:dark:text-emerald-300"></span>
      </dd>
    </div>
  </dl>
</header>
<div class="prose prose-neutral dark:prose-invert mt-[2ch]">
  {% if ctx.comment.subject.fragment and ctx.comment.subject.fragment is starting_with("#:~:text=") %}
    {% if template %}<template id="comment-text-fragment-template">{% endif %}
    {# All of the following is an attempt to prevent the browser from highlighting the quoted text fragment - TODO: it doesn't work in safari #}
    {% set text_fragment = util::urldecode(encoded=ctx.comment.subject.fragment
    | regex_replace(pattern="#:~:text=", rep="> ")) %}
    <a data-text-fragment-src href="{{ ctx.comment.subject.fragment }}" class="float-right font-serif  italic dark:text-violet-300">(source)</a>
    <span data-text-fragment-content>
    {% set left = text_fragment
      | split(pat="")
      | slice(end=-3)
      | join(sep="") %}
    {% set right = text_fragment
      | split(pat="")
      | slice(start=-3)
      | join(sep="") %}
    {% set text_fragment = left ~ 'THIS_IS_TO_AVOID_HAVING_QUOTED_TEXT_FRAGMENTS_INTERFERE_WITH_THE_ACTUAL_TEXT_FRAGMENT' ~ right %}
    {{ text_fragment
      | striptags
      | regex_replace(pattern="THIS_IS_TO_AVOID_HAVING_QUOTED_TEXT_FRAGMENTS_INTERFERE_WITH_THE_ACTUAL_TEXT_FRAGMENT", rep="<span aria-hidden='true' class='inline-block w-0 h-0 invisible select-none' style='contain: strict;'>ABC</span>")
      | markdown
      | safe }}
    </span>
      {% if template %}</template>{% endif %}
  {% endif %}
    {% if template %}<template id="comment-content-template">{% endif %}
  {{ comment.content | safe }}
    {% if template %}</template>{% endif %}
</div>
<hr class="border-blue-400 mt-[2ch] pb-[0ch] border-dashed">
<a  data-reply-mailto
    href="{{ page.extra.comment.document ~ '#' ~comment.slug }}"
    class="block max-w-fit ml-auto mt-4 px-2 py-2 text-lg rounded-lg
    bg-yellow-300 hover:bg-yellow-400 border border-gray-500
      font-light text-gray-800">Context</a>
</div>
{% endblock content %}