<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ section.title | default(value=config.title) }}</title>
  <link rel="stylesheet" href="style.css">
  <meta name="color-scheme" content="dark light">
  <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
  <link rel="shortcut icon" href="/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="r3ply" />
  <link rel="manifest" href="/favicon/site.webmanifest" />
</head>
<body class="bg-green-50 dark:bg-slate-950 bg-[url(/patterns/bank-note.svg)] dark:bg-[url(/patterns/bank-note_dark.svg)]">
  {% include "includes/top-nav.html" %}
  <main class="py-6">
    <article class="overflow-x-clip px-4 md:px-0 mx-auto prose prose-neutral prose-pink dark:prose-invert prose-li:marker:text-black dark:prose-li:marker:text-neutral-300 prose-hr:border-black dark:prose-hr:border-gray-400">
      {{ section.content | safe }}
    </article>
  </main>
  {# Prepare comments to be used #}
  {% set comment_section = get_section(path="comments/_index.md") %}
  {% set comments = [] %}
  {% for file_path in comment_section.assets %}
    {% set json = load_data(path=file_path) %}
    {# Only add comments whose path matches the page that's being rendered #}
    {% if json.comment.subject.path == current_path %}
      {% set_global comments = comments | concat(with=json) %}
    {% endif %}
  {% endfor %}
  {# Simple way of printing the commments to the screen #}
  <ul>
    {% for c in comments %}
    <li>{{ c.comment.html | safe }}</li>
    {% endfor %}
  </ul>
</body>
</html>