<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ section.title | default(value=config.title) }}</title>
  <link rel="stylesheet" href="style.css">
  <meta name="color-scheme" content="dark light">
</head>
<body class="bg-green-50 dark:bg-slate-950 bg-[url(/patterns/bank-note.svg)] dark:bg-[url(/patterns/bank-note_dark.svg)]">
  {% include "includes/top-nav.html" %}
  <div class="w-24 h-24 text-green-500 dark:text-slate-200
  bg-[url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' fill=\'none\' stroke=\'currentColor\' stroke-width=\'2\' viewBox=\'0 0 24 24\'><circle cx=\'12\' cy=\'12\' r=\'9\'/><path d=\'M12 7v5l3 3\'/></svg>')]
  bg-no-repeat bg-contain bg-center">
</div>
  <main class="py-6">
    <article class="px-4 md:px-0 mx-auto prose prose-neutral prose-pink dark:prose-invert prose-li:marker:text-black dark:prose-li:marker:text-neutral-300 prose-hr:border-black dark:prose-hr:border-gray-400">
      {{ section.content | safe }}
    </article>
  </main>
</body>
</html>